.issue {
  display: flex;
  flex-grow: 4;
}

.infoTags {
  position: flex;
  float: right;

  font-size: 0.7rem;
  background-color: #e0e2ef;
  color: #555;
  padding: 0.35rem 0.3rem;
  margin: 1rem 0.1rem 0.1rem;
  border-radius: 2px;
}
