.counter {
  margin: 1rem 0 0;
}

.bar {
  margin-top: 0.25rem;
  background: #e0e2ef;
  height: 1rem;
  width: 100%;
  box-shadow: inset 0 -1px 1px 0 #cfd1e0;
}

.progress {
  background: #666a99;
  box-shadow: inset 0 -1px 1px 0 #272b4c;
  height: 100%;
}

.label {
  display: flex;
}

.count {
  margin-left: auto;
  min-width: 3rem;
  text-align: right;
  align-self: flex-end;
}
