.Alternative {
  margin: 0.5rem 0;
  background-color: #6B71A5;
  color: #FFF;
  display: flex;
  box-shadow: 0 -0.125rem 0 0 rgba(0, 0, 0, 0.25) inset,
              0 0.125rem 0.0625rem 0 rgba(0, 0, 0, 0.2);
}

.Alternative:last-of-type {
  margin-bottom: 0;
}

.Alternative:hover {
  background-color: #8D93C7;
}

.Alternative--selected {
  background-color: #4D516F;
}

.Alternative--selected:hover {
  background-color: #575C7D;
}

.Alternative--disabled {
  box-shadow: none;
  background-color: #F5F5F5;
  color: #555;
}

.Alternative--disabled:hover {
  background-color: #F5F5F5;
}

.Alternative label {
  flex-grow: 1;
  padding: 1rem;
}

.Alternative:hover label {
  cursor: pointer;
}

.Alternative input {
  display: none;
}
