html {
  font-size: 62.5%;
}

body {
  background: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
}

button {
  font-family: inherit;
}

.App-components {
  max-width: 100rem;
  margin: 0 2rem;
}

.ActiveIssue-components {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #323A7F;
}

.ActiveIssue-Vote-wrapper {
  flex-grow: 2;
}
