body {
  background: #ffffff;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

button, select, textarea {
  font-family: inherit;
}

.App-components {
  max-width: 64rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.ActiveIssue-components {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

.ActiveIssue-components > * {
  margin: 2rem 0.5rem 0 0.5rem;
}

.ActiveIssue-Vote-wrapper {
  flex-grow: 4;
  flex-basis: 20rem;
}
