.Button {
  margin: 1rem 0 0 0;
  border: 1px solid transparent;
  background: transparent;
  color: #636bb2;
  white-space: nowrap;
}

.Button:hover {
  color: #141523;
  cursor: pointer;
}

.Button:focus {
  outline: 0;
}

.Button--background {
  color: #fff;
  background: #595c7f;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 -2px 0 0 rgba(0, 0, 0, 0.25) inset,
              0 0 1px 0 rgba(0, 0, 0, 0.25);
}

.Button--background:hover {
  color: #fff;
  background: #6d7194;
}

.Button:disabled {
  background: #71727d;
  opacity: 0.5;
  color: white;
  cursor: not-allowed
}

.Button--size-sm {
  padding: 0.25rem;
  font-size: 0.5rem;
}

.Button--size-md {
  padding: 0.5rem;
}

.Button--size-md, .Button--size-lg {
  font-size: 1rem;
}

.Button--size-lg {
  padding: 1rem;
}

.Button--background + .Button--background {
  margin-left: 0.5rem;
}