.Card {
  border: 1px solid;
  border-color: rgba(187, 187, 187, 0.1) rgba(88, 88, 88, 0.1) rgba(0, 0, 0, 0.1);
}

.Card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #6B71A5;
  color: #FFF;
}

.Card-header h2 {
  margin: 0;
}

.Card-header + .Card-content {
  padding: 1rem 2rem;
}

.Card-content {
  padding: 1rem;
  color: #555;
  background-color: #F5F5F5;
}

.Card-subtitle {
  margin: 0;
}
