.Card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #6B71A5;
  color: #FFF;
}

.Card-header h2 {
  margin: 0;
  font-weight: normal;
  font-size: 1.5rem;
}

.Card-header + .Card-content {
  padding: 1rem 2rem;
}

.Card-content {
  padding: 1rem;
  color: #555;
  background-color: #F5F5F5;
}

.Card-subtitle {
  margin: 0;
  font-weight: normal;
  font-size: 1.25rem;
}
