.ConcludedIssue {
  flex-grow: 1;
  flex-basis: 25rem;
  margin: 0.5rem;
}

.ConcludedIssue-title {
  font-weight: normal;
  margin: 0;
}

.ConcludedIssue--minority .Card-header {
  background: #C5493C;
}

.ConcludedIssue--majority .Card-header {
  background: #258573;
}

.ConcludedIssue-alternatives {
  padding-left: 1rem;
}

.ConcludedIssue-alternatives--winner {
  font-weight: bold;
}
