.ConcludedIssue {
  flex-grow: 1;
  flex-basis: 20rem;
  background: #12826c;
  color: #ffffff;
  margin: 1rem;
}


.ConcludedIssue-toggle {
  display: block;
  width: 100%;
  text-align: left;
  border: none;
  color: inherit;
  background: rgba(255, 255, 255, 0.16);;
  padding: 1rem 2rem;
}

.ConcludedIssue-toggle:focus {
  outline: none;
}

.ConcludedIssue-NotMajority {
  background: #c0392b;
}

.ConcludedIssue-alternatives {
  padding: 1rem 1rem 2rem 3rem;
}

.ConcludedIssue-alternatives--hidden {
  display: none;
}

.winner {
  font-weight: bold;
}
