.ConcludedIssue {
  flex-grow: 1;
  flex-basis: 25rem;
  background: #F5F5F5;
  color: #555;
  margin: 0.5rem;
}


.ConcludedIssue-top {
  background: #C5493C;
  color: #FFF;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ConcludedIssue-title {
  font-weight: normal;
  margin: 0;
}

.ConcludedIssue--majority .ConcludedIssue-top {
  background: #258573;
}

.ConcludedIssue-content {
  padding: 0.5rem 0.5rem 1rem 2rem;
}

.ConcludedIssue-alternatives {
  padding-left: 1rem;
}

.ConcludedIssue-alternatives--winner {
  font-weight: bold;
}
