.Dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
}

.Dialog--visible {
  display: flex;
}

.Dialog-backdrop {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
}

.Dialog-dialog {
  min-width: 25rem;
  max-width: 80%;
  position: absolute;
  background: white;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.15);
}

.Dialog-top {
  background: #6b71a5;
  padding: 2rem;
  display: flex;
}

.Dialog-title {
  align-self: center;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

.Dialog-close {
  margin-left: auto;
  color: whitesmoke;
  font-size: 4rem;
}

.Dialog-close:hover {
  color: #484d79;
}

.Dialog-content {
  padding: 3rem;
}
