.Dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
}

.Dialog--visible {
  display: flex;
}

.Dialog-backdrop {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
}

.Dialog-dialog {
  min-width: 25rem;
  max-width: 80%;
  position: absolute;
  background: white;
  box-shadow: 0 0 0.5rem 0.25rem rgba(0, 0, 0, 0.15);
}

.Dialog-top {
  background: #6B71A5;
  display: flex;
}

.Dialog-title {
  margin: 0;
  align-self: center;
  color: #FFF;
}

.Dialog-close {
  margin-left: auto;
  color: #F5F5F5;
  font-size: 2rem;
}

.Dialog-close:hover {
  color: #484D79;
}

.Dialog-top, .Dialog-content {
  padding: 2rem;
}
