.error {
  background: #ca3939;
  padding: 0.5rem 1rem;
  color: #fee;
  display: flex;
  justify-content: space-between;
}

.message {
  padding: 1rem 0;
}

.corner {
  padding: 0;
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
}

.corner:hover {
  transform: scale(1.1);
}

.corner:focus {
  outline: 0;
}
