	/*
  	Flaticon icon font: Flaticon
  	Creation date: 17/02/2017 22:34
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../font/Flaticon.eot");
  src: url("../font/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../font/Flaticon.woff") format("woff"),
       url("../font/Flaticon.ttf") format("truetype"),
       url("../font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../font/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
}

.flaticon-close:before { content: "\f100"; }