	/*
  	Flaticon icon font: Flaticon
  	Creation date: 17/02/2017 22:34
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../font/Flaticon.eot");
  src: url("../font/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../font/Flaticon.woff") format("woff"),
       url("../font/Flaticon.ttf") format("truetype"),
       url("../font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../font/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
}

.flaticon-warning:before { content: "\f100"; }
.flaticon-unlock:before { content: "\f101"; }
.flaticon-round-refresh:before { content: "\f102"; }
.flaticon-round-plus:before { content: "\f103"; }
.flaticon-close:before { content: "\f104"; }
.flaticon-success:before { content: "\f105"; }
.flaticon-plus:before { content: "\f106"; }
.flaticon-cross:before { content: "\f107"; }
.flaticon-check:before { content: "\f108"; }
.flaticon-lock:before { content: "\f109"; }
.flaticon-bars:before { content: "\f10a"; }
.flaticon-interface:before { content: "\f10b"; }
.flaticon-flag:before { content: "\f10c"; }
.flaticon-edit:before { content: "\f10d"; }
.flaticon-exit:before { content: "\f10e"; }
.flaticon-relock:before { content: "\f10f"; }
.flaticon-users:before { content: "\f110"; }
.flaticon-refresh:before { content: "\f111"; }
.flaticon-square-plus:before { content: "\f112"; }
