.components {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem -0.5rem 0;
}

.components > * {
  margin: 0 0.5rem 0 0.5rem;
}

.voteWrapper {
  display: flex;
  flex-grow: 4;
  flex-basis: 20rem;
}
