.IconText {
  margin-left: auto;
  display: inline-flex;
  flex-direction: column;
  font-size: 1rem;
}

.IconText:before {
  font-size: 2rem;
  text-align: center;
}

.Button:hover .IconText:before {
  transform: scale(1.1);
}
