.iconText {
  margin-left: auto;
  display: inline-flex;
  flex-direction: column;
}

.iconText:before {
  font-size: 2rem;
  text-align: center;
}

/* TODO */
.Button:hover .iconText:before {
  transform: scale(1.1);
}
