.Issue {
  margin-top: 4rem;
  background: whitesmoke;
  padding: 2rem;
  border: 1px solid #f3f3f3;
  flex-grow: 2;
}

.Issue p {
  font-size: 2rem;
}

.Issue-heading {
  font-weight: normal;
  margin: 0;
  color: #7b7979;
}
