.IssueForm {
  margin-top: 2rem;
}

.IssueForm label {
  display: block;
}

.IssueForm-label {
  margin-bottom: 0.5rem;
}

.IssueForm select, .IssueForm textarea {
  display: block;
  width: 100%;
  font-size: 1rem;
} 

label.IssueForm-checkbox {
  margin-top: 0.5rem;
}

.IssueForm-checkbox input {
  margin-right: 0.5rem;
}

.IssueForm select {
  border: 0.0625rem solid #D0D0D0;
  background-color: #F5F5F5;
  padding: 0.5rem;
  max-width: 32rem;
}

.IssueForm textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 10rem;
  resize: vertical;
  padding: 0.5rem;
}

.IssueForm label p {
  color: gray;
}

.IssueForm--ActiveIssueWarning {
  background-color: #D15555;
  padding: 1rem 0.125rem 1rem 1rem;
  color: #FEE;
}

.IssueFormAlternative-content {
  background-color: #F5F5F5;
  max-width: 32rem;
  padding: 0.5rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.IssueFormAlternative ul:empty {
  display: none;
}

.IssueFormAlternative ul {
  margin: 0 0 0.5rem;
  padding-left: 0;
}

.IssueFormAlternative li {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
}

.IssueFormAlternative li:not(:first-child) {
  border-top: 1px solid #BBB;
}

.IssueFormAlternative li p {
  flex-grow: 1;
  margin: 0;
}

.IssueFormAlternative-content .Button {
  margin: 0 0 0 0.5rem;
  font-size: 1.5rem;
}

.IssueFormAlternative .Dialog input[type="text"] {
  display: block;
}

.IssueFormAlternative-add {
  display: flex;
  justify-items: center;
}

.IssueFormAlternative-add input {
  flex-grow: 1;
  font-size: 1rem;
  padding: 0.5rem;
}
