.IssueAdmin .Card-content{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.IssueAdmin-actions {
  margin-left: auto;
  align-self: center;
}

.IssueAdmin-actions button {
  margin: 0;
}

.IssueAdmin-text {
  flex: 1 100%;
  margin: 1rem 0 0;
}

.IssueAdmin-pin {
  flex: 1 100%;
}
