.Issue {
  background: whitesmoke;
  padding: 1rem;
  border: 1px solid #f3f3f3;
  flex-grow: 2;
}

.Issue p {
  font-size: 1rem;
}

.Issue-heading {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
  color: #717171;
}
