.IssueForm {
  margin-top: 2rem;
}

.IssueForm label {
  display: block;
}

.IssueForm-label {
  margin-bottom: 0.25rem;
  margin-top: 1rem;
}

.IssueForm select, .IssueForm textarea {
  display: block;
  width: 100%;
  font-size: 1rem;
} 

label.IssueForm-checkbox {
  margin-top: 0.5rem;
}

.IssueForm-checkbox input {
  margin-right: 0.5rem;
}

.IssueForm select {
  border: 0.0625rem solid #D0D0D0;
  background: #F5F5F5;
  padding: 0.5rem;
  max-width: 32rem;
}

.IssueForm textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 10rem;
  resize: vertical;
  padding: 0.5rem;
}

.IssueForm label p {
  color: gray;
}

.IssueFormAlternative ul:empty {
  display: none;
}

.IssueForm--ActiveIssueWarning {
  background: #D15555;
  padding: 1rem 0.125rem 1rem 1rem;
  color: #FEE;
}
