.Users {
  margin-top: 2rem;
}

.Users-info {
  max-width: 50rem;
}

.UserFilter {
  margin-top: 2rem;
}

table.Users-list {
  width: 100%;
  max-width: 50rem;
  margin-top: 1rem;
  border-collapse: collapse;
}

.Users-list th {
  border-bottom: 1px solid #9597B1;
  font-weight: normal;
  padding: 0.25rem 0.25rem;
}

.Users-list td {
  padding: 0.5rem 0.25rem;
  border-bottom: 1px solid #DBDCE0;
}

.Users-list tr:nth-child(even) td {
  background-color: #F9F9F9;
}

.Users-list--left {
  text-align: left;
}

.Users-list--center {
  text-align: center;
}

.Users-list--right {
  text-align: right;
}

.Users-list--can-not-vote {
  color: #B73B3B;
  font-weight: bold;
}
