.VoteCounter {
  margin: 1.5rem 0;
  font-weight: bold;
  color: #717171;
}

.VoteCounter-bar {
  margin-top: 0.5rem;
  background: #e0e2ef;
  height: 1.5rem;
  width: 100%;
  box-shadow: inset 0px -1px 1px 0px #cfd1e0;
}

.VoteCounter-bar-progress {
  background: #6b71a5;
  box-shadow: inset 0px -1px 1px 0px #272b4c;
  height: 100%;
}

.VoteCounter-label {
  display: flex;
}

.VoteCounter-count {
  margin-left: auto;
  min-width: 5rem;
  flex-basis: auto;
  text-align: right;
  align-self: flex-end;
}
