.VoteCounter {
  margin: 1rem 0;
  font-weight: bold;
  color: #555;
}

.VoteCounter-bar {
  margin-top: 0.25rem;
  background-color: #E0E2EF;
  height: 1rem;
  width: 100%;
}

.VoteCounter-bar-progress {
  background-color: #6B71A5;
  height: 100%;
}

.VoteCounter-label {
  display: flex;
}

.VoteCounter-count {
  margin-left: auto;
  min-width: 3rem;
  flex-basis: auto;
  text-align: right;
  align-self: flex-end;
}
