.table {
  margin-top: 1rem;
}

.center {
  display: flex;
  justify-content: center;
}

.tableCell {
  display: flex;
  align-items: center;
  margin-left: 0.25rem;
}

.action {
  display: inline;
  font-size: 2rem;
  font-weight: bold;
  color: #CCC;
  padding: 0;
  background: none;
  border: none;
}

.action:last-child {
  margin-left: 0.5rem;
}

.action:focus {
  outline: none;
}

.success {
  composes: icon success from 'css/flaticon.css';
}

.close {
  composes: icon close from 'css/flaticon.css';
}

.unavailable {
  composes: icon lock from 'css/flaticon.css';
}

.toggle.success {
  color: #258573;
}

.toggle.close {
  color: #c5493c;
}

.canNotVote {
  color: #b73b3b;
  font-weight: bold;
}
