html {
  font-size: 62.5%;
}

body {
  background: #f7f7f7;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
}

button {
    font-family: inherit;
}

.App {
  padding: 1rem 2rem;
  max-width: 100rem;
  margin: 0 auto;
}

.App-components {
  display: flex;
  flex-wrap: wrap;
}

.ActiveIssue-Vote-wrapper {
  flex-grow: 2;
  padding: 1rem;
}
