.issue {
  display: flex;
  flex-grow: 4;
}

.infoTags {
  position: flex;
  float: right;

  font-size: 0.7em;
  background-color: hotpink;
  color: white;
  padding: 5px;
  margin: 2px;
  border-radius: 2px;
}
