.setup {
  margin: 4rem auto;
  max-width: 40rem;
  background: #f5f5f5;
  padding: 2rem 3rem;
  border: 1px solid;
  border-color: #f1f1f1 #eaeaea #dadada;
}

.title {
  color: #717171;
  font-size: 1.6em;
  font-weight: normal;
}

.text {
  font-size: 1.2em;
  margin: 2rem 0 0.5em 0;
}

.setup label:first-child .text {
  margin-top: 0.5rem;
}

.help {
  color: #6d6d6d;
}

.setup input {
  box-sizing: border-box;
  width: 100%;
  font-size: 1.1em;
  padding: 0.8rem;
  border: 1px solid #d2d2d2;
}

.warning {
  color: #9c0707;
}
