.content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.actions {
  margin-left: auto;
  align-self: center;
}

.actions button {
  margin: 0;
}

.text {
  flex: 1 100%;
  margin: 1rem 0 0;
}

.pin {
  flex: 1 100%;
}

.edit {
  composes: icon edit from 'css/flaticon.css';
}

.reset {
  composes: icon refresh from 'css/flaticon.css';
}

.end {
  composes: icon lock from 'css/flaticon.css';
}

.delete {
  composes: icon cross from 'css/flaticon.css';
}
