.iconText {
  margin-left: auto;
  display: inline-flex;
  flex-direction: column;
  font-size: 0.8rem;
  word-break: normal;
}

.iconText:before {
  font-size: 1.6rem;
  text-align: center;
}

.iconText.hovering:before {
  transform: scale(1.1);
}
