.Heading {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.11);
  background: #f5f5f5;
}

.Heading-content {
  padding: 0 2rem;
  margin: 0 auto;
  max-width: 100rem;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Heading-header {
  color: #323A7F;
  font-size: 3.4rem;
}

.Heading-logout {
  background: #323A7F;
  color: #F7F7F7;
  padding: 15px;
  text-decoration: none;
  font-size: 2rem;
}

.Heading-logout:hover {
  background: #515CCC;
}
