.button {
  margin: 1rem 0 0 0;
  border: 1px solid transparent;
  background: transparent;
  color: #636bb2;
  white-space: nowrap;
}

.button:hover {
  color: #141523;
}

.button:focus {
  outline: 0;
}

.background {
  color: #fff;
  background: #595c7f;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 -2px 0 0 rgba(0, 0, 0, 0.25) inset,
              0 0 1px 0 rgba(0, 0, 0, 0.25);
}

.background:hover {
  color: #fff;
  background: #6d7194;
}

.button:disabled {
  background: #747586;
  color: white;
  cursor: not-allowed
}

.size-sm {
  padding: 0.25rem;
  font-size: 0.5rem;
}

.size-md {
  padding: 0.5rem;
}

.size-md, .size-lg {
  font-size: 1rem;
}

.size-lg {
  padding: 1rem;
}

.background + .background {
  margin-left: 0.5rem;
}
