.card {
  display: flex;
  flex-direction: column;
  word-break: break-all;
  composes: border from "css/border.css";
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: #fff;
}

.blue {
  background: #6b71a5;
}

.red {
  background: #c5493c;
}

.green {
  background: #258573;
}

.header h2 {
  margin: 0;
  font-size: 1.2rem;
}

.header + .content {
  padding: 1rem 2rem;
}

.content {
  padding: 1rem;
  color: #555;
  background: #f5f5f5;
  flex-grow: 1;
}

.subtitle {
  margin: 0;
}
