.concludedIssue {
  flex-grow: 1;
  flex-basis: 25rem;
  margin: 0.5rem;
}

.alternatives {
  padding-left: 1rem;
}

.alternativesWinner {
  font-weight: bold;
}

.majorityIcon {
  composes: icon success from 'css/flaticon.css';
}

.minorityIcon {
  composes: icon warning from 'css/flaticon.css';
}
