.component {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
}

.visible {
  display: flex;
}

.backdrop {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
}

.dialog {
  min-width: 25rem;
  max-width: 80%;
  position: absolute;
  box-shadow: 0 0 0.5rem 0.25rem rgba(0, 0, 0, 0.15);
  border: none;
}

.close {
  font-size: 2rem;
  composes: icon close from 'css/flaticon.css';
}

.close:hover {
  color: #484d79;
}
