.heading {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  background: #f5f5f5;
}

.content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  margin: 0 auto;
  max-width: 64rem;
}

.content a {
  text-decoration: none;
}

.content button {
  cursor: pointer;
  margin: 0;
}

.header {
  color: #63699d;
  font-size: 2rem;
  margin: 0;
}

.content a:hover .header {
  color: #8186b3;
}

.components {
  text-align: right;
  color: #555;
}

.components > button:last-child, .components > a:last-child {
  margin-right: -0.5rem;
}

.logout {
  background: #323a7f;
  color: #f7f7f7;
  padding: 1rem;
  text-decoration: none;
}

.logout:hover {
  background: #515ccc;
}
