.component {
  display: flex;
  justify-content: flex-end;
}

.component > .toggleButtons {
  width: 18.25rem;
}

.toggleButtons {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  width: 100%;
}